table{
    table-layout: fixed;
    width:300px;
    border-collapse: collapse;
    border: 3px solid purple;
}
tr{
    border-radius:3px ;
    border-color: blue;
}
table th{
    padding: 9px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    border: 3px solid #6c0e0e;
}
table td{
    padding: 10px;
    border:2px solid blue;
}
table tr{
    padding: 5px;
    border-radius: 3px;
    border-color: rgb(239, 16, 228);
}
thead{
    border-color: blue;
}
table caption{
    font-weight: bold;
    color: brown;
    text-align: center;
}